#galleryPhotos > div
{
	display: inline-block;

	border: 1px solid lightgray;

	width: calc(49% - 10px);
	height: 300px;

	padding: 3px;
	margin-bottom: 10px;

	overflow: hidden;
}

#galleryPhotos > div:not(:nth-child(2n))
{
	margin-right: 10px;
}

#galleryPhotos > div > div
{
	position: relative;

	background: url() no-repeat;
	background-size: 100% 100%;
	background-position: center center;

	height: 100%;
}

.galleryPhotoCaption
{
	position: absolute;
	bottom: 0px;

	background: rgba(0, 0, 0, 0.45);

	color: white;

	width: 100%;
	height: 40px;

	padding-top: 5px;
}

.galleryPhotoCaption > .subtitle
{
	text-align: left;

	padding: 0px 20px;
}

#galleryOverlay
{
	position: fixed;
	top: 0px;
	left: 0px;

	background: #171717;

	text-align: left;
	color: white;

	width: 100%;
	height: 100%;

	padding: 50px 10%;
	padding-bottom: 0px;

	margin: auto;

	z-index: 600;
}

#galleryOverlayPicture
{
	display: block;

	width: 100%;
	height: 80%;

	margin-bottom: 10px;
}

#galleryOverlayClose
{
	position: fixed;
	top: 10px;
	right: 20px;

	font-weight: 100;
	font-size: 24px;
	color: gray;
}

#galleryOverlayClose:hover
{
	cursor: pointer;
}

#galleryArrowLeft, #galleryArrowRight
{
	position: fixed;
	top: calc(50% - 32px);

	font-size: 64px;
}

#galleryArrowLeft:hover, #galleryArrowRight:hover
{
	cursor: pointer;
}

#galleryArrowLeft
{
	left: 50px;
}

#galleryArrowRight
{
	right: 50px;
}