body
{
	background: #EBEBEB;

	font: normal 13px Helvetica, Arial, sans-serif;
}

*, *:focus
{
	font: normal 13px Helvetica, Arial, sans-serif;

	outline: none;
}

a
{
	text-decoration: none;
	color: steelblue;
}

a:hover
{
	text-decoration: underline;
}

select
{
	border: 1px solid #A8A8A8;

	width: 245px;

	padding: 3px 5px;
}

input[type=text]
{
	border: 1px solid #A8A8A8;
	background: #F5F5F5;

	height: 21px;

	color: gray;

	padding: 3px 5px;
}

input[type=text]:hover
{
	background: #F3F3F3;
}

input[type=text]:focus
{
	background: #F0F0F0;
}

#wrapper
{
	width: 900px;

	margin: 15px auto;
}

#convertArea
{
	border: 1px solid #A8A8A8;
	background: #F7F7F7;

	width: 886px;
	height: 300px;

	padding: 5px;

	resize: vertical;
}

#convertAreaText
{
	font-weight: bold;
	font-size: 60px;
	color: gray;

	margin: -300px 0px 0px 0px;

	cursor: text;

	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#convertAreaF
{
	border: 1px solid #A8A8A8;
	background: #F7F7F7;

	width: 886px;
	height: 300px;

	padding: 5px;

	resize: vertical;
}

#convertAreaTextF
{
	font-weight: bold;
	font-size: 60px;
	color: gray;

	margin: -240px 0px 0px 0px;

	cursor: text;

	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#convertAreaButton
{
	border: 1px solid lightgray;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	width: 130px;
	height: 30px;

	color: gray;

	padding: 3px 5px;
}

#convertAreaButton:hover
{
	cursor: pointer;
	opacity: 0.8;
}

#convertAreaButton:active
{
	background: rgb(239, 239, 239);
}

#convertAreaButtonF
{
	border: 1px solid lightgray;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	width: 900px;
	height: 30px;

	color: gray;

	padding: 3px 5px;
}

#convertAreaButtonF:hover
{
	cursor: pointer;
	opacity: 0.8;
}

#convertAreaButtonF:active
{
	background: rgb(239, 239, 239);
}

#convertAreaButtonS
{
	border: 1px solid lightgray;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	width: 900px;
	height: 30px;

	color: gray;

	padding: 3px 5px;
}

#convertAreaButtonS:hover
{
	cursor: pointer;
	opacity: 0.8;
}

#convertAreaButtonS:active
{
	background: rgb(239, 239, 239);
}

.resultsText
{
	border: 1px solid #A8A8A8;
	background: #F7F7F7;

	width: 886px;
	height: 300px;

	padding: 5px;

	resize: vertical;
}

.textareaTitle
{
	background: lightgray;

	width: 150px;

	padding: 3px 5px;
	margin: -314px 0px 0px 738px;

	opacity: 0.8;
}

.convertAreaButton
{
	border: 1px solid lightgray;

	background: rgb(239,239,239); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	width: 188px;
	height: 30px;

	color: gray;

	padding: 3px 5px;
}

.convertAreaButton:hover
{
	cursor: pointer;
	opacity: 0.8;
}

.convertAreaButton:active
{
	background: rgb(239, 239, 239);
}

.uploadHistory
{
	max-height: 250px;

	overflow-y: scroll;
}

.uploadTitle
{
	font-weight: bold;
	font-size: 19px;
	color: steelblue;
}

.uploadDate
{
	font-style: italic;
	font-size: 12px;
	color: #A8A8A8;
}

.fieldTitle
{
	font-weight: bold;
	color: #424242;
}

.linkButton
{
	text-transform: lowercase;
	font-size: 17px;
	color: steelblue;
}

.linkButton:hover
{
	text-decoration: underline;

	cursor: pointer;
}